id: template-id

info:
  name: Vendor Product - TemplateType
  severity: info
  author: darses
  description: |
    Vendor Product was detected.
  classification:
    cve-id: todo
  metadata:
    verified: false
    max-requests: 1
    vendor: vendor
    product: product
    shodan-query:
      -
    fofa-query:
      -
  reference:
    - http://example.com
  tags: vendor

http:
  - method: GET
    path:
      - "{{BaseURL}}"

    matchers-condition: and
    matchers:
      - type: word
        words:
          - "matcher"

      - type: status
        status:
          - 200
